# Data Handling and Numerical Operations
pandas>=1.5.0
numpy>=1.23.0

# Financial Data Source
yfinance>=0.2.0

# Statistical Modeling and Time Series Analysis
statsmodels>=0.14.0
pmdarima>=2.0.0

# Machine Learning and Deep Learning
scikit-learn>=1.2.0
tensorflow>=2.12.0

# Data Visualization
matplotlib>=3.6.0
seaborn>=0.12.0

# For running Jupyter Notebooks
jupyterlab>=3.5.0
